<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Choose Your Adventure</title>
</head>
<body>
<div id="book" class="container mt-5">
    <div id="header" th:text="${currentPage.text}" class="text-center h2 mb-4"></div>
    <div th:each="entry : ${currentPage.choices}" class="mb-2">
        <button class="choice-button btn btn-success" th:attr="data-next-page=${entry.value.nextPage}" onclick="navigatePage(this)">
            <span th:text="${entry.value.choiceText}"></span>
        </button>
    </div>
    <a th:href="@{/users}" class="d-block text-center mt-4">
        <button id="exit-button" class="btn btn-danger">Exit Game</button>
    </a>
</div>

<script>
        function navigatePage(button) {
            var nextPage = button.getAttribute("data-next-page");
            window.location.href = "/page/" + nextPage;
        }
    </script>
</body>
</html>
